@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Pam's UBAM Page</h1>
</div>

<section class="u-align-center u-clearfix u-image u-shading u-section-1" >
    <div class="u-align-center u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h2 class="u-text u-text-default u-text-1">Find Your Event</h2>
        <a asp-controller="Home" asp-action="Events" class="u-btn u-button-style u-btn-1">Events</a>
    </div>
</section>



<section class="u-clearfix u-section-2" id="carousel_8bb3">
    <div class="u-clearfix u-sheet u-valign-bottom-md u-valign-bottom-sm u-valign-bottom-xs u-sheet-1">
        <div class="u-align-left u-container-style u-group u-palette-2-base u-group-1">
            <div class="u-container-layout u-container-layout-1">
                <h2 class="u-custom-font u-font-raleway u-text u-text-1">
                    Brilliant Books for All Children 
                </h2>
                <p class="u-text u-text-2"> Books open doors to new worlds, allow children to walk in someone else’s footsteps, help them learn new skills, and encourage them to explore new ideas.</p><span class="u-file-icon u-icon u-text-white u-icon-1"><img src="https://www.myubam.com/themes/UBAM/content/images/ubam_store_slider_circle.gif" alt=""></span>
            </div>
        </div>
        <img class="u-image u-image-default u-image-1" src="https://images.unsplash.com/photo-1424115087662-5845efc6b366?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=688&q=80" alt="" data-image-width="1000" data-image-height="1500">
    </div>
</section>
    
<section class="u-align-center u-clearfix u-valign-top-xl u-section-3" id="carousel_974c">
    <img class="u-expanded-width u-image u-image-1" src="~/lib/Images/bookopening.jpeg">
    <div class="u-list u-list-1">
        <div class="u-repeater u-repeater-1">
            <div class="u-container-style u-custom-item u-list-item u-palette-2-base u-repeater-item u-list-item-1">
                <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1">
                    <h6 class="u-text u-text-1">how it works</h6>
                    <h3 class="u-text u-text-2">Usborne books blah blah blah book fair blah blah blah</h3>
                    <a href="https://m12065.myubam.com/OurBooks" class="u-border-1 u-border-white u-btn u-btn-rectangle u-button-style u-none u-text-body-alt-color u-btn-1">more</a>
                </div>
            </div>
            <div class="u-container-style u-custom-item u-list-item u-palette-3-base u-repeater-item u-list-item-2">
                <div class="u-container-layout u-similar-container u-valign-top u-container-layout-2">
                    <h6 class="u-text u-text-3">about your consultant</h6>
                    <h3 class="u-text u-text-4">Pamela Hsia is a mother of 2 who has years of experience volunteering in children's education.</h3>
                    <a href="https://m12065.myubam.com/contactus" class="u-border-1 u-border-white u-btn u-btn-rectangle u-button-style u-none u-text-body-alt-color u-btn-2">more</a>
                </div>
            </div>
            <div class="u-container-style u-custom-item u-list-item u-palette-4-base u-repeater-item u-list-item-3">
                <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3">
                    <h6 class="u-text u-text-5">Your own bookfair</h6>
                    <h3 class="u-text u-text-6">Seattle-area schools are welcome to contact me to discuss hosting a book fair</h3>
                    <a href="https://m12065.myubam.com/contactus" class="u-border-1 u-border-white u-btn u-btn-rectangle u-button-style u-none u-text-body-alt-color u-btn-3">contact</a>
                </div>
            </div>
        </div>
    </div>
</section> 