@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Pam's UBAM Page</h1>
</div>

<section class="u-align-center u-clearfix u-image u-shading u-section-1" src="https://images.unsplash.com/photo-1524995997946-a1c2e315a42f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" >
    <div class="u-align-center u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h2 class="u-text u-text-default u-text-1">Seattle Christian School</h2>
        <p class="u-text u-text-2">Online Shopping Begins on March XXX, 2022</p>
        <a href="https://m12065.myubam.com/Event/2272723" target="_blank" class="u-btn u-button-style u-btn-1">Click here to Shop Now!</a>
    </div>
</section>
